D:\flink-source\awesome-flink\target\
D:\flink-source\awesome-flink\out\
*.idea
*.iml
D:\flink-source\awesome-flink\flink-batch\target\
D:\flink-source\awesome-flink\flink-batch\out\
D:\flink-source\awesome-flink\flink-common\target\
D:\flink-source\awesome-flink\flink-common\out\
D:\flink-source\awesome-flink\flink-sink\target\
D:\flink-source\awesome-flink\flink-sink\out\
D:\flink-source\awesome-flink\flink-sql\target\
D:\flink-source\awesome-flink\flink-sql\out\
D:\flink-source\awesome-flink\flink-state\target\
D:\flink-source\awesome-flink\flink-state\out\
D:\flink-source\awesome-flink\flink-streaming\target\
D:\flink-source\awesome-flink\flink-streaming\out\
D:\flink-source\awesome-flink\flink-time\target\
D:\flink-source\awesome-flink\flink-time\out\
D:\flink-source\awesome-flink\flink-window\target\
D:\flink-source\awesome-flink\flink-window\out\
